<div>
  <ion-button id="open-modal" class="ion-margin" expand="block"
    >POLITICAS Y REGLAMENTO DE USO DE LA APP</ion-button
  >
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-label
            ><h2 style="text-align: center">
              POLITICAS Y REGLAMENTO DE USO DE LA APP
            </h2></ion-label
          >
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true"
              >Continuar</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div>
          <iframe
            class="info"
            src="assets/reglament-app-con-todo.pdf"
            width="100%"
          ></iframe>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>
