<div>
  <ion-button id="open-modal" class="ion-margin" expand="block"
    >Reglas Oficiales De Los Concursos.</ion-button
  >
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-label>
            <h2 style="text-align: center">
              Reglas Oficiales De Los Concursos.
            </h2>
          </ion-label>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-text>
              <h2>Artículo 1:</h2>
              <p>
                De acuerdo a la cantidad de obstáculos sobrepasados en cada uno
                de los juegos les permitirá tener una acumulación de puntos la
                cual podrán canjear por premios en plataforma.
              </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h2>Artículo 2:</h2>
              <p>
                En la presente promoción habrá una cantidad de ganadores, los
                cuales podrán canjear uno (1) de los premios que se describen a
                continuación, mismos que serán subidos a la tienda virtual del
                juego en el cual podrán ser:
              </p>
              <p>
                <ion-list>
                  <ion-list-header>
                    <ion-label>Descripción</ion-label>
                  </ion-list-header>
                  <ion-item>
                    <ion-text>
                      <h5>CAMISETAS DEPORTIVAS</h5>
                    </ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-text>
                      <h5>HORNO MICROONDAS 0.P PIES</h5>
                    </ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-text>
                      <h5>CONGELADOR FRIGIDAIRE 5 PIES</h5>
                    </ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-text>
                      <h5>LICUADORA BLACK+DECKER</h5>
                    </ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-text>
                      <h5>FREIDORA DE AIRE BLACK-DECKER</h5>
                    </ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-text>
                      <h5>PROCESADOR DE ALIMENTOS BLACK+DECKER</h5>
                    </ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-text>
                      <h5>RECARGA DE SALDO TELEFONÍA CLARO</h5>
                    </ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-text>
                      <h5>RECARGA DE SALDO TELEFONÍA TIGO</h5>
                    </ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-text>
                      <h5>MOTOCICLETA 125CC</h5>
                    </ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-text>
                      <h5>TELEVISOR 40” PANTALLA LED</h5>
                    </ion-text>
                  </ion-item>
                </ion-list>
              </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h2>Artículo 3:</h2>
              <p>
                Límite de responsabilidad: Los consumidores participantes
                aceptan de antemano el regalo en las condiciones bajo las cuales
                la empresa patrocinadora lo ha escogido, sin derecho a reclamar
                mejorías o cambios de ninguna manera. Por lo tanto, no asume
                responsabilidad por desperfectos, el uso y/o destino que se dé a
                los mismos. Compañía Televisora Hondureña, no asumirá gastos de
                transporte para retirar, ni cambiar el regalo. No se cambia el
                regalo en efectivo.
              </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h2>Artículo 4:</h2>
              <p>
                Los participantes favorecidos o ganadores, deberán cumplir con
                la mecánica descrita en el Artículo 1, presentar su documento de
                identidad original y vigente, firmar una nota mediante la cual
                declare que se recibe conforme el premio y que al recibirlo se
                allanan a las condiciones que establezca Compañía Televisora
                Hondureña SA para el reclamo de los mismos.
              </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h2>Artículo 5:</h2>
              <p>
                Compañía Televisora Hondureña S.A se reserva el derecho de
                ejercer todo tipo de acciones penales contra las personas que
                pretendan reclamar ilícita y fraudulentamente los premios aquí
                ofrecidos en tales condiciones o en caso de detectar
                falsificación de premios digitales, persona o identificación, se
                reserva el derecho de no hacer entrega de los mismos.
              </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h2>Artículo 6:</h2>
              <p>
                Los consumidores por el sólo hecho de participar aceptan y
                autorizan, desde el momento en que participan, quesu nombre y/o
                imagen aparezca en cualquier momento y sin restricción alguna en
                publicaciones y demás medios de comunicación y en general en
                todo material de divulgación. Esta autorización también incluye
                las actividades como entrega y recibo de los regalos. Todo ello
                sin que implique remuneración o compensación adicional, ni
                reclamos por derechos de imagen por uso en cualquiera de
                nuestras plataformas.
              </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h2>Artículo 7:</h2>
              <p>
                Compañía Televisora Hondureña S.A verificará la autenticidad de
                la remisión de premios, y en caso de fraude será descalificado
                automáticamente.
              </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h2>Artículo 8:</h2>
              <p>
                Aviso de Privacidad: Todo participante, por el simple hecho de
                proporcionar sus datos personales de acceso irrestricto en
                cualquiera de los medios previstos en este Reglamento, acepta
                que los datos personales que deba proporcionar para participar
                en las diferentes mecánicas y modalidades, tendrá relación
                directa con su participación. La temporalidad del manejo de los
                datos personales estará restringida y limitada a la vigencia de
                la promoción y controles posteriores. Luego concluida esta
                promoción la información será destruida y eliminada. Una vez
                facilitados sus datos personales por el participante, los mismos
                serán conservados en medios seguros y su acceso estará limitado
                solamente a las personas físicas y/o jurídicas con las que el
                punto de venta y el Patrocinador tengan alguna relación
                jurídica, en el entendido que dichos datos podrán ser
                transferidos a terceros, únicamente a propósito o con ocasión de
                la promoción. El Patrocinador y empresas contratadas al efecto
                contarán con las medidas de seguridad que consideren adecuadas
                para proteger los datos personales. En caso de requerimiento de
                alguna autoridad, los datos y/o respaldos podrán ponerse a
                disposición de éstas, dentro del estricto cumplimiento de la
                Ley.
              </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h2>Artículo 9:</h2>
              <p>No podrán participar menores de edad.</p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h2>Artículo 10:</h2>
              <p>
                Televicentro declara de manera explícita que APPLE no es
                patrocinador de los premios, actividades o de ningún otro
                aspecto relacionado a la dinámica de uso, juegos o cualquier
                otro elemento implícito en esta aplicación. Por lo que se
                declara categóricamente que APPLE no está involucrado de ninguna
                manera con el concurso o sorteo o cualquier otra actividad
                dentro de la aplicación que pudiese involucrar o relacionar a la
                dinámica dispuesta.
              </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true"
                >Continuar...</ion-button
              >
            </ion-buttons>
          </ion-item>
        </ion-list>
        <!-- <div>
          <iframe
            class="info"
            src="assets/reglament-app-con-todo.pdf"
            width="100%"
          ></iframe>
        </div> -->
      </ion-content>
    </ng-template>
  </ion-modal>
</div>
