<app-header [menu]="true"></app-header>

<ion-content class="fondo-azul content-menu">
  <ion-list id="inbox-list" class="menu">
    <div *ngFor="let p of appPages; let i = index">
      <div color="transparent" [routerLink]="[p.url]" lines="none">
        <ion-label>{{ p.title }}</ion-label>
      </div>
    </div>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border footer">
  <ion-toolbar color="transparent">
    <app-rules></app-rules>
    <ion-button
      class="salir-button ion-margin"
      (click)="logout()"
      size="large"
      expand="block"
      color="danger"
      >SALIR</ion-button
    >
  </ion-toolbar>
</ion-footer>
