<ion-content class="fondo-azul">
  <div class="trazado-blanco ion-no-border" color="transparent">
    <ion-toolbar color="transparent">
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/menu']"
          ><ion-icon
            name="menu"
            style="color: #400a81; font-size: 32px"
          ></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <div class="content">
    <div style="display: flex; justify-content: center; position: relative">
      <!-- <div class="border-1">
        <div class="border-2">
          
          <ion-avatar class="picture">
            <!- <ion-icon
              class="new-photo"
              name="camera-outline"
              size="large"
            ></ion-icon> ->
            <img src="assets/images/contodo.png" />
          </ion-avatar>
        </div>
      </div> -->
    </div>

    <div>
      <ion-buttons
        style="
          margin: auto;
          display: flex;
          justify-content: center;
          margin-top: 1rem;
        "
      >
        <ion-button
          color="light"
          shape="round"
          strong="true"
          size="large"
          fill="solid"
          style="font-size: 20px; margin-bottom: 6rem"
          ><ion-icon src="assets/images/coins-pile.svg"></ion-icon
          ><span style="color: #400a81"
            >{{user?.puntaje || 0 | currency:' ':'symbol-narrow'}}</span
          ></ion-button
        >
      </ion-buttons>
      <ion-text color="light">
        <h2 style="margin-top: 1rem; margin-left: 1rem">{{user?.name}}</h2>
      </ion-text>
      <div class="px-5">
        <!-- <ion-card class="card-border">
          <ion-card-content>
            <div>
              <ion-item lines="none">
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-text>
                  <ion-label>Tu número de teléfono:</ion-label>
                  <ion-input
                    [(ngModel)]="user.phone"
                    type="tel"
                    maxlength="8"
                    placeholder="Telefono"
                  ></ion-input>
                </ion-text>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card> -->
        <ion-card class="card-border">
          <ion-card-content>
            <div>
              <ion-item lines="none">
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-text>
                  <ion-label>Tu correo electronico:</ion-label>
                  <h5>{{user?.email}}</h5>
                </ion-text>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card class="card-border" (click)="changePassword()">
          <ion-card-content>
            <div>
              <ion-item lines="none">
                <ion-icon name="key" slot="start"></ion-icon>

                <ion-label>Cambiar Contraseña:</ion-label>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
        <!-- <ion-card class="card-border">
          <ion-card-content>
            <div>
              <ion-item button="true" id="open-date-input" lines="none">
                <ion-icon name="calendar-clear" slot="start"></ion-icon>
                <ion-text>
                  <ion-label>Tu fecha de nacimiento:</ion-label>
                  <h5 *ngIf="user.birtDate">{{user.birtDate}}</h5>
                </ion-text>
                <ion-popover
                  class="date-pike"
                  trigger="open-date-input"
                  show-backdrop="false"
                  side="top"
                >
                  <ng-template>
                    <ion-datetime
                      #popoverDatetime
                      presentation="date"
                      (ionChange)="formatDate(popoverDatetime.value)"
                    ></ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card> -->
        <!-- <ion-card class="card-border">
          <ion-card-content>
            <div>
              <ion-item lines="none">
                <ion-icon name="home" slot="start"></ion-icon>
                <ion-text>
                  <ion-label>Tu dirección:</ion-label>
                  <ion-input
                    [(ngModel)]="user.direction"
                    type="text"
                    placeholder="Dirección"
                  ></ion-input>
                </ion-text>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card> -->
      </div>
      <div class="px-5">
        <ion-button
          class="contodo-button"
          (click)="updateUser()"
          size="large"
          expand="block"
          color="light"
          ><span style="color: #62c454">Actualizar</span></ion-button
        >
      </div>
      <div class="px-5">
        <ion-button
          (click)="modalDeleteUser()"
          size="large"
          expand="block"
          color="warning"
          ><span>Eliminar Cuenta</span></ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
