<ion-content>
  <div class="content">
    <div class="trazado-blanco"></div>
    <!-- <div style="display: flex; justify-content: center">
      <div class="border-1">
        <div class="border-2">
          <!- <ion-avatar class="picture" (click)="updatePhoto()"> ->
          <ion-avatar class="picture">
            <ion-icon
              class="new-photo"
              name="camera-outline"
              size="large"
            ></ion-icon>
            <img [src]="user?.picture|| 'assets/images/contodo.png'" />
          </ion-avatar>
        </div>
      </div> 
    </div>-->
    <div style="padding-top: 6rem">
      <ion-text color="light">
        <h4 style="margin-left: 2rem">TE DAMOS LA BIENVENIDA</h4>
        <sub style="margin-left: 2rem">Por favor completa los campos</sub>
      </ion-text>
      <div class="px-5">
        <ion-card class="card-border">
          <ion-card-content>
            <div>
              <ion-item lines="none">
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-text>
                  <ion-label>Nombre:</ion-label>
                  <ion-input [(ngModel)]="user.name"></ion-input>
                </ion-text>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card class="card-border">
          <ion-card-content>
            <div>
              <ion-item lines="none">
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-text>
                  <ion-label>Correo electronico:</ion-label>
                  <ion-input [(ngModel)]="user.email"></ion-input>
                </ion-text>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card class="card-border">
          <ion-card-content>
            <div>
              <ion-item lines="none">
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-text>
                  <ion-label>Contraseña:</ion-label>
                  <ion-input
                    [(ngModel)]="user.pass"
                    type="password"
                    placeholder="Contraseña"
                  ></ion-input>
                </ion-text>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
        <!--  <ion-card class="card-border">
          <ion-card-content>
            <div>
              <ion-item button="true" id="open-date-input" lines="none">
                <ion-icon name="calendar-clear" slot="start"></ion-icon>
                <ion-text>
                  <ion-label>Fecha de nacimiento:</ion-label>
                  <h5 *ngIf="user.birtDate">{{user.birtDate}}</h5>
                </ion-text>
                <ion-popover trigger="open-date-input" show-backdrop="false">
                  <ng-template>
                    <ion-datetime
                      #popoverDatetime
                      presentation="date"
                      (ionChange)="formatDate(popoverDatetime.value)"
                    ></ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card class="card-border">
          <ion-card-content>
            <div>
              <ion-item lines="none">
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-text>
                  <ion-label>Teléfono:</ion-label>
                  <ion-input
                    [(ngModel)]="user.phone"
                    type="tel"
                    placeholder="Telefono"
                  ></ion-input>
                </ion-text>
              </ion-item>
            </div>
          </ion-card-content> 
        </ion-card>-->
        <!-- <ion-card class="card-border">
          <ion-card-content>
            <div>
              <ion-item lines="none">
                <ion-icon name="home" slot="start"></ion-icon>
                <ion-text>
                  <ion-label>Tu dirección:</ion-label>
                  <ion-input
                    [(ngModel)]="user.direction"
                    type="text"
                    placeholder="Dirección"
                  ></ion-input>
                </ion-text>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card> -->
      </div>
      <div class="px-5 action-buttons">
        <ion-button
          class="contodo-button"
          [routerLink]="'/'"
          size="large"
          color="medium"
          ><span>Cancelar</span></ion-button
        >
        <ion-button
          class="contodo-button"
          (click)="continue()"
          size="large"
          color="light"
          ><span style="color: #62c454">Continuar</span></ion-button
        >
      </div>
      <div class="px-5"></div>
    </div>
  </div>
</ion-content>
<!-- 
    svg width="390" height="460" xmlns="http://www.w3.org/2000/svg"

        path( d="M -30 160 C 20 80, 80 180, 100 100" stroke="black" fill="transparent")
 -->
