<ion-header class="trazado-blanco ion-no-border" color="transparent">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-button [routerLink]="[menu ? '/games' : '/menu']"
        ><ion-icon
          name="menu"
          style="color: #400a81; font-size: 32px"
        ></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-buttons style="margin: auto; display: flex; justify-content: center">
      <ion-button
        color="light"
        shape="round"
        strong="true"
        size="large"
        fill="solid"
        style="font-size: 20px"
        class="puntaje-butoon"
        ><ion-icon src="assets/images/coins-pile.svg"></ion-icon
        ><span style="color: #400a81">{{
          user?.puntaje | currency: " ":"symbol-narrow"
        }}</span></ion-button
      >
    </ion-buttons>
    <ion-avatar slot="end" class="ion-margin">
      <!-- <ion-img [src]="user?.picture || 'assets/images/contodo.png'"></ion-img> -->
      <ion-img src="assets/images/contodo.png"></ion-img>
    </ion-avatar>
  </ion-toolbar>
</ion-header>
