.trazado-blanco{
  background-position: left 45% top 0 !important;
  background-image: url("../../../assets/images/trazado-blanco.svg");
  background-size: cover;
  width: 100%;
  position: fixed;
  height: 26%;
  margin-top: -5px;
}