<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075847961326-msfjdqlis210c97vlfjut3uqc2q4egem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075847961326-msfjdqlis210c97vlfjut3uqc2q4egem</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1075847961326-5is3k90f19o5h2mb2cfajdlg4ug60rug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzIQ1Qeatsjjmt4l735QNbLR6YakIzXTs</string>
	<key>GCM_SENDER_ID</key>
	<string>1075847961326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.spicyrocket.contodo</string>
	<key>PROJECT_ID</key>
	<string>con-todo-a7dcb</string>
	<key>STORAGE_BUCKET</key>
	<string>con-todo-a7dcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075847961326:ios:f3bdd60952ff7064b271ff</string>
</dict>
</plist>